<!--{ % extends "bootstrap/base.html" % }-->
{% extends 'admin/master.html' %}
<!-- https://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks -->
{% block html_attribs %}
lang="ru"
{% endblock %}
<meta charset="UTF-8">
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='styles/style.css')}}">
{% endblock %}
{% block metas %}
<meta name="viewpost" content="width-device-width, initial-scale=1,
    shrink-to-fit-no">
  {% if csrf_token %}
  <!-- meta name="csrf-token" content="{ { csrf_token } }" -->
  {% endif %}
  {% endblock metas %}
<title>{% block title %}Главная{% endblock title %} - Account</title>

<!-- Get the flash message -->
{% block body %}

    {% block flashmessage %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}

          {{ message }}

        {% endif %}
        {% endwith %}
        {% endblock flashmessage %}
        <header>
          <h1 class="display-1 text-center">
            {% block header %}
            It's your the Account
            {% endblock header %}
          </h1>
          {% block content %}
          <h2>O caйте</h2>
          {% endblock content %}
          {% block headerContribute %}{% endblock headerContribute %}

    </header>

    <main>
      <div class="row">
        {% block navbar %}
        <div class="nav-item navbar navbar-default">
          <ul class="col nav justify-content-end border nav navbar-nav">
            <li class="nav-item active">
              <a href="{{ url_for('main_page') }}" class="nav-link">
                Главная
              </a>
            </li>

            {% if current_user and current_user.is_authenticated and
            current_user.is_authenticated() %}
            <li class="nav-item dropdown">
            </li><li class="nav-item">
              <a href="{{ url_for('profiles') }}" class="nav-link dropdown-toggle" tada-togle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Профиль
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('referral_form') }}">
                  Добавить код
                </a>
                <a class="dropdown-item" href="{{ url_for('referral_change') }}">
                  Изменить код
                </a>
                <a class="dropdown-item" href="{{ url_for('referral_delete') }}">
                  Удалить профиль
                </a>
              </div>
            </li>
            
            {% else %}
            <li class="nav-item">
              <a href="{{ url_for('register') }}" class="nav-link">Регистрация</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('login') }}">Вход</a>
            </li>
            {% endif %}
            </ul>

        </div>
      {% endblock navbar %}
      {% block mainRowContribute %}{% endblock mainRowContribute %}
        <section class="body">
          {% block sectionBody %}{% endblock sectionBody %}
        </section>
    </div>
  </main>
{% block scripts %}
{{super()}}
<script src="{{js_file_name}}">
</script>

{% endblock %}

{% endblock body %}

<!--<script defer src="/scripts/main-main-789b1b83d82f775e0b26.js"></script><link href="/styles/style.css" rel="stylesheet"></head>-->
