<head><script defer src="/scripts/main-main-789b1b83d82f775e0b26.js"></script><link href="/styles/style.css" rel="stylesheet"></head>{% extends "layout/basis.html" %}

<!--{ % extends "admin/login.html" % }-->



{% block title %}{{title}}{% endblock title %}

<!--		{ % load static % }-->
{% block extrahead %}
<!--		{{ block.super }}-->
  <link href="{{ url_for('static', filename='account/css/') }}{{account_styles}}" rel="stylesheet">
<!--			<script src="{ { url_for('static', filename='account/javascripts/' } } { {account_js} }"></script>-->
{% endblock extrahead %}


{% block header %}
  <h1 class="display-1 text-center">It's page for your registration </h1>
{% endblock header %}

{% block mainRowContribute %}
  <!--   { { block.super() } }-->
   <div class="form">
    <p>Custom content added to the login form.</p>
    <form id="register" method="POST">
      {{ form.csrf_token }} <!-- CSRF защита -->
      <div class="form-group">
        {{ form.firstname.label(class="form-check-label") }}
        {{ form.firstname() }}
        {% for error in form.firstname.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-check-label") }}
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-check-label") }}
        {{ form.password() }}
        {% for error in form.password.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password2.label(class="form-check-label") }}
        {{ form.password2(class="form-control") }}
        {% for error in form.password2.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    
      <!--        <button type="submit" class="btn btn-secondary">-->
      {{ form.submit() }}
    </form>
  </div>
  {% if message and message != None and message.length > 5 %}
    <div class="form-message">{{ message }}</div>
  {% endif %}

{% endblock mainRowContribute %}
